.crawling_div div{
    font-size: medium;
}

#money{
    font-family: 'Gamja Flower'; 
    font-size: 80%;
}

.weather-info__main-weather{
    margin-bottom: 30%;
}
.carousel-item li{
    list-style: none;
}