.crawling_div div{
    font-size: medium;
}

#money{
    font-family: 'Gamja Flower'; 
    font-size: 80%;
}

.weather-info__main-weather{
    margin-bottom: 30%;
}
.carousel-item li{
    list-style: none;
}
.social_btn img:nth-child(1) {
    height: 3rem;
    position:absolute;
    right: 55%;
    object-fit:cover;
}
.social_btn img:nth-child(2) {
    height: 3rem;
    position:absolute;
    left: 55%;
    object-fit:cover;
}
.social_btn {
border: 10rem;
}