#welcome {
    width: 100%;
    border-radius: 3rem;
}

#member-area {
    width: 100%;
}

.Introduction {
    width: 100%;
    display: flex;
}

.carousel {
    width: 100%;

}

.carousel-inner {
    width: 100%;
}

.Introduction_header {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
}

.Introduction_h1 {
    width: 100%;
    font-family: 'Gamja Flower';
    font-size: 3.3vmax;
}

/* .Introduction_div1{
    display: flex;
     justify-content: space-between; 
     margin-top: 5%; 
     font-family: 'Josefin Sans', sans-serif;
}
.Introduction_div2{
    display: flex;
     justify-content: space-between; 
     margin-top: 8%; 
     font-family: 'Josefin Sans', sans-serif;
} */
.Introduction_div {
    text-align: center;
    padding:2rem;

}

.Introduction_div div {
    width: 14vw;
    height: 5vh;
    display: inline-block;
    margin-bottom: 0;
    margin: 0rem 0.3rem 1rem 0.3rem;
    overflow: hidden;
}

@media screen and (min-width: 750px) and (max-width: 1024px) {

    .Introduction_div {
        text-align: center;
        padding:0;
    }

    .Introduction_div div {
        width: 14vw;
        height: 4vh;
        display: inline-block;
        padding: .75rem 0rem;
        margin-bottom: 0;
        margin: 0rem 0.3rem 0rem 0.3rem;
        overflow: hidden;
    }
}
.alert {
    font-size: 0.75vmax;
}

.active {
    list-style: none;

}

.carousel_item_header {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-start;

}

.carousel {
    position: absolute;
    bottom: 3%;
}

.carousel-item_h1 {
    width: 100%;
    font-family: 'Gamja Flower';
    font-size: 3.3vmax;
    position: relative;
    bottom: 10%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .carousel-item {
        margin-top: 15%;
    }
}

.card-container {
    width: 100%;
    height: 100%;
}

.team-name {
    width: 100%;
    height: 100%;
    text-align: center;
}

#team-button-box {

    margin: 4%;
}

#member-button-box {

    margin: 4%;



}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #member-button-box {

        margin-top: 20%;
    }

    #team-button-box {

        margin-top: 10%;
    }
}

a .alert {
    margin-top: 5%;
    font-family: 'Gamja Flower';
    font-size: 2.5vmax;
    border-radius: 2rem;
}

#main {
    display: flex;
}

.card-container_h1 {
    font-family: 'Gamja Flower';
    font-size: 4vmax;
}