
#welcome {
    width: 100%; 
    border-radius: 3rem;
}
#member-area{
    width: 100%;
}
.Introduction{
    width: 100%; 
    display: flex;
}
.carousel {
    width: 100%;

}
.carousel-inner{
    width: 100%;
}
.Introduction_header{
    width: 100%; 
    text-align: center; 
    display: flex; 
    justify-content: flex-start;
}
.Introduction_h1{
    width: 100%; 
    font-family: 'Gamja Flower';  
    font-size: 3.3vmax; 
}
.Introduction_div1{
    display: flex;
     justify-content: space-between; 
     margin-top: 5%; 
     font-family: 'Josefin Sans', sans-serif;
}
.Introduction_div2{
    display: flex;
     justify-content: space-between; 
     margin-top: 8%; 
     font-family: 'Josefin Sans', sans-serif;
}


.alert{
    font-size: 0.75vmax;
}
.active{
    list-style: none; 

}

.carousel_item_header{
    width: 100%; 
     text-align: center; 
     display: flex; 
     justify-content: flex-start;

}
.carousel-item_h1{
    width: 100%; 
    font-family: 'Gamja Flower';  
    font-size: 3.3vmax;
}

.card-container{
    width: 100%; 
    height: 100%;
  }
  .team-name{
    width: 100%; 
    height: 100%; 
    text-align: center;
  }
#team-button-box{
    z-index: 10;
     margin: 4%;
}

#member-button-box{
    z-index: 10;
     margin: 4%;

}
a .alert{
     margin-top: 5%;
     font-family: 'Gamja Flower'; 
     font-size: 2.5vmax; 
     border-radius: 2rem;
}
#main{
    display: flex;
}
.card-container_h1{
    font-family: 'Gamja Flower'; font-size: 4vmax;
}
