 /* .membercard{
  display: flex; 
  justify-content: center;
  
  margin-top:  5rem;
  

}
 .card {
  
  margin: 0 10px; 
}
.card-img-top{
  margin: 0;
  width: 100%; 
  border-radius: 2rem;
}
.card-container {
  display: flex;
  justify-content: space-between;
}
#team-button-box{
  
 
  border-radius: 2rem;

}
#member-button-box{
  position: relative;
  left: 25rem;
  
  
  border-radius: 2rem;

}
.card-text{
  text-align: center;
  font-family: 'Kaushan Script', cursive;
} */

.card-body{
  width: 100%;
  text-align: center;

}






