 .crawling_div {
   font-size: 1px;
 }

 .container1,
 .container2,
 .container3,
 .container4,
 .container5 {
   background-color: rgba(255, 200, 200, 0.6);
   border-radius: 70px;
   width: 100%;
   font-family: 'Skranji', cursive;
   font-family: 'Sunflower', sans-serif;
   display: flex;
   align-items: center;
   justify-content: left;
   font-size: 1.8vmax;
   border-radius: 11px;
   cursor: pointer;
   word-break: break-all;
   padding: 10px;
   margin-top: 8px;
   margin-bottom: 5px;
 }


 #grid_social_btn {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   padding-left: 50px;
 }